#Invalid
/src/tests
/src/store
# /src/components
/src/components/Elements
/src/components/DataTableSingle
/src/components/DataTableLazy
/src/components/DataTable
/src/components/DataHistory
/src/components/DataFilter
/src/components/DataTableControls
/src/components/ZDELDataTableControl
/src/componentsInteraction
/src/components/TheForms
/src/components/TheTable
# /src/views
/src/components/Document/ZSpreadSheet