$borderRadius: 0px 0px 4px 0px;
$boxShadow: 0 -1px 1px -1px rgba(0,0,0,.2),
            0 2px 1px -1px rgba(0,0,0,.2),
            0 1px 1px 0 rgba(0,0,0,.14),
            0 1px 3px 0 rgba(0,0,0,.12);

$scrollWidth: 8px;
$scrollHeight: 8px;
$scrollBorderRadius: 4px;
$scrollThumbBorderRadius: 3px;
$scrollThumbBackgroundColor: rgba(0,0,0,0.2);

$fontFamily: Arial, Helvetica, sans-serif;
$fontSize: 16px;
$borderStyle: thin solid grey;

$backgroundColorTitle: rgb(240, 240, 240); //#dadce0;
$backgroundColorBody: white;

$headFontSize: 0.75em;
$headFontWeight: bold;
$headFontColor: rgba(0, 0, 0, .6);

$bodyFontSize: 0.875em;
$bodyFontWeight: normal;
$bodyLineHeight: 1.25;
$bodyFontColor: rgba(0, 0, 0); // rgba(0, 0, 0, .87);
$bodyFontColorTitle: rgba(0, 0, 0, .6);
$bodyGridColor: thin solid rgba(0, 0, 0, .12);
// $bodyGridColor: thin solid rgb(228, 228, 228);
$bodyGridColorOff: thin solid rgba(255, 255, 255, 0);

$bodyGridAutoRow: minmax(22px, 22px);
$bodyGridRow: 22px;

$borderRadius: 0px 0px 4px 0px;
$boxShadow: 0 -1px 1px -1px rgba(0,0,0,.2),
            0 2px 1px -1px rgba(0,0,0,.2),
            0 1px 1px 0 rgba(0,0,0,.14),
            0 1px 3px 0 rgba(0,0,0,.12);