.field {
  width: 100%;
  font-size: inherit;
  &-item {
    font-size: inherit;
  }
  .action {
    cursor: pointer;
  }
  .required {
    position: relative;
    bottom: 1px;
    width: 100%;
    min-height: 3px;
    background-color: rgb(225, 98, 98);
    border: 1px solid rgb(225, 98, 98);
  }
}
