.field {
  width: 100%;
  // height: 100%;
  font-size: inherit;
  &-item {
    font-size: inherit;
  }

  .required {
    position: relative;
    bottom: 1px;
    width: 100%;
    min-height: 2px;
    border: thin solid red;
  }
}
