.el-field {
  width: 100%;
  padding-top: 8px;
  &__anchor {
    width: 100%;
    height: 0px;
    // border: thin solid grey;
    outline: none;
  }
  &_single-line {
    padding-top: 0px;
  }
  &__item {
    font-size: 14px;
  }
  
  
}

.el-field_hide-underline {
  .v-text-field.v-text-field--solo .v-input__control {
    min-height: 24px;
  }
}

::v-deep {
  .v-input__control {
    .v-input__slot {
      padding: 0px !important;
    }
  }
  
  .v-input__append-inner {
    padding: 0px !important;
    margin-right: -2px;
    margin-top: 2px !important;
    // width: 50px;
    cursor: pointer;
  }
  .v-input__append-outer {
    margin: 0px;
    margin-top: -4px;
  }
}