.el-field {
  width: 100%;
  padding-top: 8px;
  &__anchor {
    width: 100%;
    height: 0px;
    outline: none;
  }
  &_single-line {
    padding-top: 0px;
  }
  &__item {
    font-size: 14px;
  }
}

// .line-required {
//   position: absolute;
//   bottom: -2px;
//   width: 100%;
//   height: 3px;
//   background-color: rgba(255, 0, 0,.6);
// }

::v-deep {
  .v-input__control {
    .v-input__slot {
      padding: 0px !important;
    }
  }
  
  .v-input__append-inner {
    padding: 0px !important;
    margin-right: -2px;
    margin-top: 2px !important;
    cursor: pointer;
  }
  .v-input__append-outer {
    margin: 0px;
    margin-top: -4px;
  }
}