.tooltip-text {
  display: block;
  padding: 2px 6px;
  width: 100%;
  height: 100%;
  border: thin solid rgba(0, 0, 0, .87);
  border-radius: 4px;
  font-size: .875rem;
  line-height: 1.5;

  &-control {
    background-color: rgba(0, 0, 0, .87);
    color: rgba(255, 255, 255, 1);
  }
  &-body {
    color: rgba(0, 0, 0, .87);
    background-color: rgba(255, 255, 255, 1) !important;
    opacity: 1 !important;
  }
  &_invalid {
    width: 100%;
    height: 100%;
    border: thin solid rgba(128, 128, 128, .6);
    border-left: 5px solid #E53935;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 1);
  }
}

.tooltip-box {
  display: block;
  padding: 2px 6px;
  border: thin solid rgba(0, 0, 0, .87);
  border-radius: 4px;
  font-size: .875rem;
  line-height: 1.5;

  &_body {
    color: rgba(0, 0, 0, .87);
    background-color: rgba(255, 255, 255, 1) !important;
    opacity: 1 !important;
    white-space: pre-wrap;
  }
}